.detailsContainer{
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.movieDetailContainer{
display: flex;
flex-direction: row;

}
.sideContainer {
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: 30px;
    font-weight: bold;
}
.detailContainer{
    display: flex;
    flex-direction: column;
}
.movieDetails{
    font-size: 30px;
    font-weight: 600;
}
.movieDetailsSmall{
font-size: 20px;
}
.imgContainer{
flex-shrink: 0;
margin-right: 40px;
}
.goBackLink {
    margin-bottom: 20px; 
}
/* .castContainer{
    border-top: 1px solid black;
    border-bottom: 1px solid black;
} */
/* .link{
    color: black;
} */

